* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

#waiting {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 10%;
  font-size: 40px;
  color: black;
  font-weight: bold;
  background-color: rgba(169, 169, 169, 0.8);
  text-align: center;
  z-index: 99;
  display: none;
}

#map {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  grid-template-columns: repeat(8, 1fr);
  border: 3px solid red;
}

.el_of_map {
  display: block;
  border: 1px solid yellow;
  background-color: orange;
}

#form {
  margin: 0 auto;
  padding: 10px;
  width: 400px;
  height: 100px;
  background-color: cadetblue;
  font-size: large;
  font-weight: bold;
}

#form button {
  width: 70px;
  height: 30px;
}

#form input {
  font-size: large;
  width: 200px;
  height: 30px;
  border: none;
  border: 2px solid rgb(0, 66, 128);
}

#menu {
  margin: 0 auto;
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
  font-weight: bold;
}

button {
  background-color: white;
  cursor: pointer;
  border: none;
  border: 1px solid rgb(0, 66, 128);
}

h1 {
  font-size: 23px;
  margin-bottom: 10px;
  color: rgb(0, 66, 128);
}
